:root {
    --gray-0-nosotros:#646464;
    --gray-1-nosotros:#b2b6bd;
    --primary-nosotros: #f7f4f3;
    --secondary-nosotros: #fdc600;
    --font-size-1-nosotros: 1.5rem;
    --font-size-2-nosotros: 1.2rem;
    --font-size-3-nosotros: 1rem;
    --font-weight-thin-nosotros: 300;
    --font-weight-bold-nosotros: 600;
    --font-weight-heavy-nosotros: 800;
    --spacer-1-nosotros: .25rem;
    --spacer-2-nosotros: .5rem;
    --spacer-3-nosotros: 2rem;
    --spacer-4-nosotros: 1.5rem;
    --spacer-5-nosotros: 7rem;
    --shadows-nosotros: 7px 7px 7px rgba(0, 0, 0, .15);
}

.titulo-nosotros{
    background-color: var(--gray-0-nosotros);
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.titulo-nosotros p{
    font-size: var(--font-size-1-nosotros);
    color: var(--primary-nosotros);
    font-weight: var(--font-weight-heavy-nosotros);
}
.mision-vision{
    padding-top: 8%;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-gap: 5%;
    justify-content: center;
    align-items: center;
    margin-left: 15% ;
    margin-right: 15%;
}
.card{
    width: auto;
    height: 100%;
    box-shadow: var(--shadows-nosotros);
    border: none;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: var(--primary-nosotros);
    text-align: center;
}

.card div{
    border-radius: .5rem .5rem 0 0;
    padding: 5%;
    background-color: var(--secondary-nosotros);
    color: var(--primary-nosotros);
}
.card div h1{
    font-weight: var(--font-weight-heavy-nosotros);
}
.card p{
    padding: 10%;
    margin: 0 0 var(--spacer-3-nosotros);
    line-height: 1.5;
    word-wrap: break-word;
    font-size: var(--font-size-2-nosotros);
    font-weight: var(--font-weight-thin-nosotros);
    color: var(--gray-0-nosotros);
}
.rese単a-historica{
    display: flex;
    margin-top: var(--spacer-5-nosotros);
}
.contenido-rese単a{
    display: flex;
    flex-direction: column;
    text-align: justify;
    height: auto;
    width: 50%;
    padding: var(--spacer-5-nosotros);
    color: var(--gray-0-nosotros);
}
.contenido-rese単a p{
    margin: 0 0 var(--spacer-3-nosotros);
    line-height: 1.5;
    word-wrap: break-word;
    font-size: var(--font-size-2-nosotros);
    font-weight: var(--font-weight-thin-nosotros);
}
.contenido-rese単a div{
    width: 400px;
    height: 4px; 
    background-color: var(--secondary-nosotros);
    margin-top: 10px; 
    border-radius: 1rem;
}
.objetivos{
    margin-bottom: var(--spacer-5-nosotros);
    margin-top: var(--spacer-5-nosotros);
    display: flex;
    flex-direction: column;
}
.contenedor-objetivos-items{
    padding-top: 5%;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-gap: 5%;
    justify-content: center;
    align-items: center;
    margin-left: 10% ;
    margin-right: 10%;
}
.objetivos-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    color: var(--gray-0-nosotros);
    background: white;
    padding: var(--spacer-4-nosotros);
    margin-bottom: auto;
}
.contenido-objetivos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--gray-0-nosotros);
    padding-left: var(--spacer-5-nosotros);
    padding-right: var(--spacer-5-nosotros);
}
.contenido-objetivos h1{
    font-weight: var(--font-weight-bold-nosotros);
}
.contenido-objetivos p{
    margin: 0 0 var(--spacer-3-nosotros);
    line-height: 1.5;
    word-wrap: break-word;
    font-size: var(--font-size-2-nosotros);
    font-weight: var(--font-weight-thin-nosotros);
}
.contenido-objetivos div{
    width: 250px;
    height: 4px; 
    background-color: var(--secondary-nosotros);
    margin-top: 10px; 
    border-radius: 1rem;
}
.imgObtetivos-items{
    filter: drop-shadow(1px 5px 2px var(--secondary-nosotros) );
}
.contenido-objetivos-items{
    background: var(--primary-nosotros);
    margin-top: var(--spacer-3-nosotros);
    text-align: center;
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 2rem;
    padding: 1rem;
    border-top: 5px solid var(--gray-1-nosotros);
}

.contenedor-objetivos-items p{
    margin: 0 0 var(--spacer-3-nosotros);
    line-height: 1.5;
    word-wrap: break-word;
    font-size: var(--font-size-2-nosotros);
    font-weight: var(--font-weight-thin-nosotros);
}


.contenedor-politicas-items{
    padding-top: 5%;
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    grid-gap: 1%;
    justify-content: center;
    align-items: center;
    margin-left: 5% ;
    margin-right: 5%;
}
.contenido-politicas-items{
    background: var(--primary-nosotros);
    margin-top: var(--spacer-3-nosotros);
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-radius: 2rem;
    padding: 1rem;
    border-top: 5px solid var(--gray-1-nosotros);
    position: relative;
}

.contenedor-politicas-items p{
    margin: 0 0 var(--spacer-3-nosotros);
    line-height: 1.5;
    word-wrap: break-word;
    font-size: var(--font-size-2-nosotros);
    font-weight: var(--font-weight-thin-nosotros);
    margin-top: 3rem;
}
.politicas-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    color: var(--gray-0-nosotros);
    background: white;
    padding: var(--spacer-4-nosotros);
    margin-bottom: auto;
}
.punto-derecha{
    height: 20px;
    width: 20px;
    background: white;
    filter: drop-shadow(1px 1px 5px var(--secondary-nosotros) );
    border-radius: 80%;
    position: absolute;
    top: 2;
    right: 1rem;
}

.punto-izquierda{
    height: 20px;
    width: 20px;
    background: white;
    filter: drop-shadow(1px 1px 8px var(--secondary-nosotros) );
    border-radius: 80%;
    position: absolute;
    top: 2;
    left: 1rem;
}