:root {
    --gray-0-servicios:#646464;
    --gray-1-servicios:#b2b6bd;
    --primary-servicios: #f7f4f3;
    --secondary-servicios: #fdc600;
    --font-size-1-servicios: 1.5rem;
    --font-size-2-servicios: 1.25rem;
    --font-size-3-servicios: 1rem;
    --font-weight-thin-servicios: 300;
    --font-weight-bold-servicios: 600;
    --font-weight-heavy-servicios: 800;
    --spacer-1-servicios: .25rem;
    --spacer-2-servicios: .5rem;
    --spacer-3-servicios: 1rem;
    --spacer-4-servicios: 1.5rem;
    --spacer-5-servicios: 2.0rem;
    --spacer-6-servicios: 7rem;
    --shadows-servicios: 7px 7px 7px rgba(0, 0, 0, 0.473);
  }

.nuestro-servicio{
    display: flex;
}
.contenido{
    display: flex;
    flex-direction: column;
    text-align: justify;
    height: auto;
    width: 100%;
    padding: var(--spacer-5-servicios);
    color: var(--gray-0-servicios);
}

.contenido p{
    margin: 0 0 var(--spacer-3-servicios);
    line-height: 1.5;
    word-wrap: break-word;
    font-size: var(--font-size-2-servicios);
    font-weight: var(--font-weight-thin-servicios);
}

.contenido div{
    width: 500px;
    height: 4px; 
    background-color: var(--secondary-servicios);
    margin-top: 5px; 
    border-radius: 1rem;
}
.recepcion-frio{
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: top;
    padding-right: var(--spacer-5-servicios);
    padding-top: var(--spacer-4-servicios);
}
.recepcion-frio div{
    width: auto;
    margin-left: 5rem;
    margin-top: 0px;
	border-radius: 0.5rem;
	overflow: hidden;
}
.recepcion-frio div img{
    width: 700px;
	height: 300px;
}
.imagenes div img{
    width: 100%;
    height: 70%;
    border-radius: 15px;
    margin-right: var(--spacer-2-servicios);
    box-shadow: var(--shadows-servicios);
    border: solid 1px var(--gray-0-servicios) ;
}
.nuestro-servicio{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-gap: 3%;
    justify-content: left;
    margin-left: 2% ;
    margin-right: 7%;
    margin-top: 5rem;
}

.separ{
    background-color: var(--secondary-servicios);
    height: 3px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: -6.5%;
    margin-bottom: -2.5%;
    border-radius: 10px;
    opacity: 85%;
    
}
.separ-top{
    background-color: var(--secondary-servicios);
    height: 3px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2.5%;
    margin-bottom: -3%;
    border-radius: 10px;
    opacity: 85%;
}

[name="titulo"]{
    font-weight: var(--font-weight-heavy-servicios);
    font-size: var(--font-size-2-servicios);
    color: var(--gray-0-servicios);
    margin-bottom: 2rem;
}

[name="contenido"]{
    margin: 0 0 var(--spacer-3-servicios);
    line-height: 1.5;
    word-wrap: break-word;
    font-weight: var(--font-weight-bold-servicios);
    font-size: var(--font-size-3-servicios);
    color: var(--gray-0-servicios);
}

.titulo{
    background-color: var(--gray-0-servicios);
    height: 90px;
    text-align: center;
    color: white;
    padding-top: 25px;
}

.ejemplo{
    background: var(--secondary-servicios);
    width: 50%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacer-1-servicios);
    position: relative;
}

.ejemplo::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 44px solid white;
    border-left: 50px solid var(--secondary-servicios) ;
}


