:root {
    --gray-0-productos:#646464;
    --gray-1-productos:#b2b6bd;
    --primary-productos: #f7f4f3;
    --secondary-productos: #fdc600;
    --font-size-1-productos: 1.5rem;
    --font-size-2-productos: 1.25rem;
    --font-size-3-productos: 1rem;
    --font-weight-thin-productos: 300;
    --font-weight-bold-productos: 600;
    --font-weight-heavy-productos: 800;
    --spacer-1-productos: .25rem;
    --spacer-2-productos: .5rem;
    --spacer-3-productos: 1rem;
    --spacer-4-productos: 1.5rem;
    --spacer-5-productos: 2.0rem;
    --spacer-6-productos: 7rem;
    --shadows-productos: 7px 7px 7px rgba(0, 0, 0, 0.473);
  }
  .nuestro-producto-verde{
    display: flex;
  }

  .nuestro-producto-verde{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-left: 22%;
    margin-right: 22%;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
  .nuestro-producto-verde div{
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
  }
  .contenido-verde{
    display: flex;
    flex-direction: column;
    padding: var(--spacer-1-productos);
  }
  .contenido-verde p{
    margin: 0 0 var(--spacer-3-productos);
    line-height: 1.5;
    word-wrap: break-word;
    font-size: var(--font-size-2-productos);
    font-weight: var(--font-weight-bold-productos);
    color: black;
  }
  .contenido-verde div{
    width: 500px;
    height: 4px;
    background-color: var(--secondary-productos);
    margin-top: 5px;
    border-radius: 1rem;
  }
  .imagen-verde{
    width: 100%;
    height: 90%;
    border-radius: 15px;
    text-align: center;
    border: solid 4px var(--primary-productos);
    box-shadow: var(--shadows-productos);

  }
  .imagen-verde img{
    height: 100%;
    width: 100%;
    margin-bottom: 2%;
    object-fit: fill;
  }

  
  .nuestro-producto-flor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5rem;
    margin-bottom: 1rem;
    justify-content: center;
  }
  .nuestro-producto-flor div{
    display: grid;
    align-items: center;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0%;
    padding-bottom: 0%;
    width: auto;
    height: auto;
  }
  .section{
    text-align: center;
    width: auto;
    height: auto;
    margin-bottom: 3rem;
  }
  .section button{
    width: 150px;
    height: 50px;
    background-color: var(--secondary-productos);
    border: none;
    color: var(--gray-0-productos);
    font-size: var(--font-size-3-productos);
    font-weight: var(--font-weight-bold-productos);
    border-radius: .5rem;
    box-shadow: var(--shadows-productos);
  }
  .section button:hover{
    width: 150px;
    height: 50px;
    background-color: var(--secondary-contenido);
    border: none;
    color: var(--primary-contenido);
    cursor: pointer;
    font-weight: var(--font-weight-heavy-contenido);
    box-shadow: var(--shadows-productos);
  }
  .contenido-flor{
    padding: var(--spacer-1-productos);
    border-radius: 15px;
    margin-bottom: 2rem;
    margin-left: 15%;
    margin-right: 15%;
    background-color: var(--primary-productos);
    border: solid 3px var(--secondary-productos);
    box-shadow: var(--shadows-productos);
    width: auto;
    height: auto;
  }
  .contenido-flor p{
    margin: 0 0 var(--spacer-1-productos);
    line-height: 1.5;
    word-wrap: break-word;
    font-size: var(--font-size-2-productos);
    font-weight: var(--font-weight-bold-productos);
    color: black;
    
  }
  .contenido-flor div{
    width: 500px;
    height: 4px;
    background-color: var(--secondary-productos);
    margin-top: 5px;
    border-radius: 1rem;
    justify-content: center;
  }
  .imagen-flor {
    width: 300px;
    height: auto;
    border-radius: 15px;
    text-align: center;
    border: solid 4px var(--primary-productos);
    box-shadow: var(--shadows-productos);
  }
  
  
  .imagen-flor img{
    height: 200px;
    width: 100%;
    margin-top: 2%;
    object-fit: fill;
  }
  .titulo-productos{
    background-color: var(--gray-0-servicios);
    width: 100%;
    height: auto;
    padding: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}
.titulo-productos h1{
  color: var(--primary-productos);
  font-weight: var(--font-weight-heavy-productos);
}


@media screen and (min-width: 270px) and (max-width: 1024px) {
  .nuestro-producto-verde{
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 2%;
    padding-right: 2%;
    align-items: center;
  }
  .nuestro-producto-flor{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 2%;
    padding-right: 2%;
  }
  .nuestro-producto-flor div{
    padding-left: 5%;
    padding-right: 5%;
  }
  .imagen-flor{
    width: 100%;
    height: 100%;
  }
  .imagen-flor img{
    height: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 460px) {
  .nuestro-producto-flor{
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 2%;
    padding-right: 2%;
  }
}
