:root {
    --gray-0:#646464;
    --primary: #f7f4f3;
    --secondary: #fdc600;
    --font-size-1: 1.5rem;
    --font-size-2: 1.25rem;
    --font-size-3: 1rem;
    --font-weight-thin: 300;
    --font-weight-bold: 600;
    --font-weight-heavy: 800;
    --spacer-1: .25rem;
    --spacer-2: .5rem;
    --spacer-3: 1rem;
    --spacer-4: 1.5rem;
    --spacer-5: 2rem;
    --shadows: 7px 7px 7px rgba(0, 0, 0, .15);
  }

.NavBar{
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
    padding-left: 3%;
    padding-right: 3%;
    border-bottom: 4px solid var(--secondary);
}

.logo{
    display: flex;
    align-items: center;
    color: var(--gray-0);
}
.links{
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    
}
.links button{
    color: var(--gray-0);
    font-size: 22px;
    font-weight: bold;
    width: 170px;
    height: 90px;
    border: none;
    font-size: var(--font-size-3);
    background-color: var(--primary);
    border-radius: .5rem;
}
.links button:hover {
    background: var(--secondary);
    color: var(--primary);
    border: none;
    cursor: pointer;
}